/* .App {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
} */
* {
  font-family: "Assistant", sans-serif;
  background-color: #263f44;
  color: #c9dadd;
  box-sizing: border-box;
  color: #698474;
  color: #889e81;
  color: #bac7a7;
  color: #e5e4cc;
}

/* https://colorhunt.co/palette/93b5c6c9ccd5e4d8dcffe3e3 */
/* https://colorhunt.co/palette/698474889e81bac7a7e5e4cc */
